/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    overflow-x: hidden;
    font-family: "Comic Sans MS", sans-serif;
    color: #444444;
  }
  
  a {
    text-decoration: none;
    color: #be4074;
  }
  
  a:hover {
    color: #4b083d;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Bahnschrift", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    transition: all 0.5s;
  }
  #header.header-scrolled {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #081d0d;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .gradient-custom {
    background: #c471f5;
  
    background: -webkit-linear-gradient(to right, #2c3e50,  #bdc3c7);
  
    background: linear-gradient(to right, #2c3e50, #bdc3c7)
  }

  .navbar-dark .navbar-nav .nav-link {
    color: white;
  }

  .navbar-nav .nav-item{
    color: #5cb874 !important;
  }
  .navbar-nav .nav-item .nav-link:hover {
    color: #ff0000;
  }

  .navbar-nav .nav-item .active {
    color: #a1164b !important;
  }

  .navbar-nav .nav-item .getstarted, .navbar-nav .nav-item .getstarted:focus{
    color: #5cb874;
    padding: 8px 25px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 4px;
    border: 2px solid #5cb874;
    transition: 0.3s;
    font-size: 14px;
  }
  .navbar-nav .nav-item .getstarted:hover, .navbar-nav .nav-item .getstarted:focus:hover {
    background: #5cb874;
    color: #3c2121;
  }
  
  /*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #354f52;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
  }
  
  .back-to-top .bi {
  font-size: 24px;
  color: #e8efcd;
  line-height: 0;
  }
  
  .back-to-top:hover {
  background: #e8efcd;
  color: #354f52;
  }
  
  .back-to-top .bi:hover{
  color: #354f35;
  }

  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: rgba(88, 146, 162, 0.8);
    overflow: hidden;
    position: relative;
  }
  #hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
    right: 0;
    left: 100px;
    bottom: 30px;
  }
  #hero .carousel-item::before {
    content: "";
    
  }
  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 20px;
    right: 50px;
  }
  #hero .container {
    text-align: left;
  }
  #hero h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
  }
  #hero p {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px 0;
    color: #fff;
    inline-size: 250px;
    text-align: justify;
  }
  #hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
  }
  #hero .carousel-inner .carousel-item,
  #hero .carousel-inner .active.carousel-item-start,
  #hero .carousel-inner .active.carousel-item-end {
    opacity: 0;
  }
  #hero .carousel-inner .active,
  #hero .carousel-inner .carousel-item-next.carousel-item-start,
  #hero .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
  }
  #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 30px;
    line-height: 0;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
  }
  #hero .carousel-indicators li {
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    border: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    opacity: 0.6;
    transition: 0.3s;
  }
  #hero .carousel-indicators li.active {
    opacity: 1;
    background: #5cb874;
  }
  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 32px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    color: #6ec083;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    background: #ffffff;
  }
  #hero .btn-get-started:hover {
    background: #ffffff;
  }
  @media (max-width: 992px) {
    #hero {
      height: 100vh;
    }
    #hero .carousel-container {
      top: 66px;
    }
  }
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 28px;
    }
  }
  @media (min-width: 1024px) {
    #hero .carousel-control-prev, #hero .carousel-control-next {
      width: 5%;
    }
  }
  @media (max-height: 500px) {
    #hero {
      height: 120vh;
    }
  }

  
  /*--------------------------------------------------------------
  # Why Us
  --------------------------------------------------------------*/
  .why-us {
    padding: 0;
  }
  .why-us .row {
    overflow: hidden;
  }
  .why-us .content-item {
    padding: 40px;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: -1px;
  }
  .why-us .content-item span {
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: #6ec083;
  }
  .why-us .content-item h4 {
    font-size: 26px;
    font-weight: 300;
    padding: 0;
    margin: 20px 0;
  }
  .why-us .content-item p {
    color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  @media (max-width: 768px) {
    .why-us .content-item {
      padding: 40px 0;
    }
  }

  /*--------------------------------------------------------------
  # About Us
  --------------------------------------------------------------*/
  .about .content h3 {
    font-weight: 700;
    font-size: 28px;
  }
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  .about .content ul li {
    padding-bottom: 10px;
  }
  .about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #5cb874;
  }
  .about .content p:last-child {
    margin-bottom: 0;
  }

  /*--------------------------------------------------------------
  # Portfolio
  --------------------------------------------------------------*/
  .portfolio{
    margin-bottom: 80px;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;
  }
  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
  }
  .portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    color: #fff;
    background: #5cb874;
  }
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  .portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(34, 34, 34, 0.6);
  }
  .portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(34, 34, 34, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  }
  .portfolio .portfolio-wrap img {
    transition: all ease-in-out 0.3s;
  }
  .portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
  }
  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
  .portfolio .portfolio-wrap .portfolio-info p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-style: italic;
  }
  .portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
  }
  .portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    margin: 0 5px 0 0;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
  }
  .portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #6ec083;
  }
  .portfolio .portfolio-wrap:hover::before {
    opacity: 1;
  }
  .portfolio .portfolio-wrap:hover img {
    transform: scale(1.2);
  }
  .portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
  }

  /*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
  .portfolio-details {
    padding-top: 40px;
  }
  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }
  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #5cb874;
  }
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #5cb874;
  }
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(34, 34, 34, 0.08);
  }
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  .portfolio-details .portfolio-info ul li + li {
    margin-top: 10px;
  }
  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .portfolio-details .portfolio-description p {
    padding: 0;
  }
  

  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
  }
  
  .section-bg {
    background-color: #c9dce8ec;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }

  .section-title .image-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
    font-size: 20px;
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #56e1e6;
    bottom: 0;
    left: calc(50% - 20px);
  }
  .section-title p {
    margin-bottom: 0;
    font-size: 16px;
    color: #000000;
  }

  .section-title .italic {
    font-size: 10px;
  }
  
  /*--------------------------------------------------------------
  # Team
  --------------------------------------------------------------*/

  .team .member {
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0px 0px 12px 0px rgba(34, 34, 34, 0.07);
    padding: 10px 20px;
    width: 15rem;
    background: #fff;
    border-radius: 45px;
  }
  .team .member img {
    width: 150px;
    height: 200px;
    margin: 10px 0 10px 0;
  }
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
  }
  .team .member p {
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
  }

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    background: #090909;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
  }
  #footer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
  }
  #footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }
  #footer .social-links {
    margin: 0 0 40px 0;
  }
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #5cb874;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .social-links a:hover {
    background: #449d5b;
    color: #fff;
    text-decoration: none;
  }
  #footer .copyright {
    margin: 0;
    font-size: 11px;
    vertical-align: baseline;
  }